body {
    background-color: #152347; /*  #F8FB04 */
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

#profile-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10vh auto;
    width: 300px;
    height: 400px;
}

#profile-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#profile-details {
    margin-top: 15px;
    text-align: center;
}

#profile-details h1 {
    color: #1595FF;
    margin-bottom: 0px;
}

#profile-name {
    margin-top: 5px;
    font-size: 18px;
    color: #FFF922;
}

#profile-about {
    color: #fff;
}

#contacts {
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contacts img {
    width: 40px;
    height: 40px;
}

#footer {
    font-size: 11px;
    margin-top: 20px;
    color: #868FA4;
    text-align: center;
}

#footer a {
    color: #868FA4;
}